.container_input {
  display: flex;
  position: relative;
  width: max-content;
  flex-direction: column;
}
.container_input > span {
  font-size: 10px;
  color: red;
  text-align: initial;
}

.container_input input {
  all: unset;
  padding-top: 15px;
  background-color: var(--grey-ligth);
  min-width: 150px;
  padding-right: 20px;
  border-bottom: 1px solid var(--grey-primary);
  text-align: start;
}

.container_input > label {
  position: absolute;
}
.container_input > label {
  z-index: 2;
  color: var(--grey-primary);
  font-size: 10px;
}
.container_input > div:last-of-type {
  position: absolute;
  right: -44px;
}
